* {
    margin: 0;
    padding: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none !important; 
    transition: all 0.4s ease 0s;
    font-weight: bold;
    color: white;
    list-style: none;
  }
  
  body {
    background-image:url(images/contactspg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-color: black;
    font-family: Arial, sans-serif;
  }
  @media only screen and (max-width: 767px) { body {background-image: url(images/contactspg.png); } }
  
  nav{
    width: 100%;
    height: 80px;
    padding: 4px 1px 1px;
    position:absolute;
    background-color:#808292;
    border: 1px solid white;
  }
  
  nav .logo p img{
    float: left;
    padding-left: 4px;
  }
  
  nav .logo p img:hover{
    transform: scale(1.10);
  }
  
  main {
    display: flex;
  }
  
  nav ul {
    list-style-type: none;
    overflow: hidden;
    display: block;
  }
  
  nav li {
    margin-top: 10px;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    padding: 30px;
    padding-top: 19px;
  }
    li a:hover {
      color: black;
      transform: scale(1.10);
      background-color: white;
  }
  
  
  nav li a{
    text-transform: capitalize;
    text-align:center;
    text-decoration:none;
    display: block;
    font-size:19px;
  }
  
  #social {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    animation: 1.5s fadeIn;
    font-weight: bolder;
    letter-spacing: 2.5px;
    text-shadow: 1.8px 1.8px 1.8px black;
  }
  #social2 {
    text-shadow: 1.5px 1.5px 1.5px black;
    font-size: 20px;
    animation: 3s fadeIn;
    letter-spacing: 3.5px;
    position: fixed;
    top: 32.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  #yticon {
    position: absolute;
    top: 49.5%;
    left: 15%;
    width: 16.5%;
    height: 28%;
    animation: 1s whipInIcons;
    }
    #yticon:hover {
      transform: scale(1.1);}
    
    #dscicon {
      position:absolute;
      top: 49%;
      left: 41.4%;
      height: 30%;
      width: 17%;
      animation: 1s whipInIcons;
    }
    #dscicon:hover {
      transform: scale(1.1);}
    
    #tticon {
      position: absolute;
      top: 52%;
      left: 70%;
      height: 22%;
      animation: 1s whipInIcons;
    }
    #tticon:hover {
      transform: scale(1.1);}

  @media (max-width: 768px) {
    nav {
      position: static;
      height: 90px;
      text-align: center;
    }
    nav .logo {
      position: static;
    }
    nav .logo p img:hover{
      transform: scale(1.10);
    }
    nav .logo p img {
      width:80px;
      height:87.5px;
      padding-left: 2px;
  }
  li a {
      padding:3px;
  }
  
  nav ul {
    display: block;
  }
  
  nav li {
    margin: 10px 0;
  }
}