* {
    margin: 0;
    padding: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none !important; 
    transition: all 0.4s ease 0s;
    font-weight: bold;
    color: black;
    list-style: none;
  }
  
  body {
    background-image:url(images/socialpg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-color: black;
    font-family: Arial, sans-serif;
  }
  @media only screen and (max-width: 767px) { body {background-image: url(images/socialpg.png); } }
  
  nav{
    width: 100%;
    height: 80px;
    padding: 4px 1px 1px;
    position:absolute;
    background-color:linear-gradient(white, #DEDEDE);
    border: 1px solid white;
  }
  
  nav .logo p img{
    float: left;
    padding-left: 4px;
  }
  
  nav .logo p img:hover{
    transform: scale(1.10);
  }
  
  main {
    display: flex;
  }
  
  nav ul {
    list-style-type: none;
    overflow: hidden;
    display: block;
  }
  
  nav li {
    margin-top: 10px;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    padding: 30px;
    padding-top: 19px;
  }
    li a:hover {
      color: white;
      transform: scale(1.10);
      background-color: black;
  }
  
  
  nav li a{
    text-transform: capitalize;
    text-align:center;
    text-decoration:none;
    display: block;
    font-size:19px;
  }
  
  .social {
    position: fixed;
    transform: translate(40%, 150%);
    font-size: 38px;
    animation: 1.5s fadeIn;
    font-weight: bolder;
    letter-spacing: 2.5px;
    text-shadow: 2.5px 2.5px 2.5px black;
    width: 1000px;
  }
  .social2 {
    position: fixed;
    transform: translate(150%, 260%);
    font-size: 40px;
    animation: 3s fadeIn;
    font-weight: bolder;
    letter-spacing: 2.5px;
    text-shadow: 2.5px 2.5px 2.5px black;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  #yticon {
    position: absolute;
    top: 51.5%;
    left: 16%;
    width: 15%;
    height: 25%;
    }
    #yticon:hover {
      transform: scale(1.1);}
    
    #dscicon {
      position:absolute;
      top: 49%;
      left: 41.4%;
      height: 30%;
      width: 17%;
    }
    #dscicon:hover {
      transform: scale(1.1);}
    
    #tticon {
      position: absolute;
      top: 53.5%;
      right: 19%;
      height: 23%;
      width: 12.5%;
    }
    #tticon:hover {
      transform: scale(1.1);}



  @media (max-width: 768px) {
    nav {
      position: static;
      height: 93px;
      text-align: center;
    }
    nav .logo {
      position: static;
    }
    nav .logo p img:hover{
      transform: scale(1.10);
    }
    nav .logo p img {
      width:80px;
      height:90px;
      padding-left: 2px;
  }
  li a {
      padding:6px;
  }
  
  nav ul {
    display: block;
  }
  
  nav li {
    margin: 10px 0;
  }

  #yticon {
    transition-timing-function : ease-in-out;
    transition-duration : 0.35s;
    height:15%;
    width: 27%;
    left: 0.5%;
    top: 58%;
    }
    #dscicon {
      position:absolute;
      top: 56%;
      left: 36%;
      height: 19%;
      width: 32%;
    }
    #tticon {
      position: absolute;
      top: 57%;
      right: -1%;
      height: 15%;
      width: 25%;
    }
    #dscicon:hover, #tticon:hover, #yticon:hover {
      transform: scale(1.1);}
    
.social {
  position: fixed;
  transform: translate(1%, 305%);
  width: 400px;
  font-size:16.5px;
  text-shadow: 1.1px 1.1px 1.1px black;
}
.social2 {
    position: fixed;
    font-size: large;
    transform: translate(45%, 440%);
    text-shadow: 1.1px 1.1px 1.1px black;
  }
}